button.CheckOut {
  display: flex;
  border: 2px solid white;
  align-content: center;
  font-size: 30px;
  margin: 21px auto;
  padding: 11px;
  cursor: pointer;
  max-width: 500px;
  background-color: #33ff00;

}

button.CheckOut:hover {
  background-color: blue;
}
