li.Product {
  display: flex;
  align-content: space-between;
  align-items: center;
  color: black;
  background-color: white;
  border: 1px solid #33ff00;



}

li.Product p {
  flex: 1;
  padding: 25px;
  font-size: 21px;
  font-family: "Arial";
}

li.Product p.name {
  font-weight: bold;
  font-size: 15px;
}

li.Product p.price {
  max-width: 21px;
}

li.Product p.quantity {
  max-width: 50px
}
